/* Google Font Heebo and Nunito */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&family=Nunito:ital,wght@0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap');


:root {
    --primary-color: #fea116;
    --light-color: #f1f8ff;
    --dark-color: #0f172b;
}

html,
body {
    font-family: 'Nunito', sans-serif;
}